{% extends "base.html" %}

{% block content %}
    <font color = white><font size = "1500"><b>
    <style>
    p.brush {
        font-family: "Brush Script MT", cursive;

    h1 {
	font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
    }
       }
    </style>

    <p class = "brush"> Fond Memories of La Familia Funded by...
         <a href="/">
            <button type="button" class="btn btn-lg btn-default" aria-label="Home">
                <span class="glyphicon glyphicon-home" aria-hidden="true" ></span>
            </button></a>

        <center><h1><p class = brush>
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <font size="medium" font color = "black">
 <font size = "med"> We are so grateful that you have given us so much time out of your lives <br>
 and money out of your wallets so that we may travel the world as a family.
     <br> There is no greater gift than the time we get to spend together.
 <br> In you and in each other we have found our best friends and favorite memories</font><br></b>
    </button></p></h1></center></a>

</p>
<div class = "row">
     <div class="col-md-6">
        <center>
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                Grandma Nancy! </button></font><br></p>
            <img src = "http://imageshack.com/a/img673/4246/xwcbHX.png" width="300" height="250">
            </center>
         </div>

     <div class="col-md-3">
        <center>
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                Los Padres! </button></font></p>
            <img src = "http://imageshack.com/a/img908/1237/EjESwR.png" width="330" height="250">
            <br></center><br><br>
         </div>

</div>
{% endblock %}