{% extends "base.html" %}

{% block content %}
<div id="header" style="background-color: rgb(174, 232, 122);">
				<p>
					<font color="white">Last Updated December 21, 2014</font>
				</p>
			</div>

    <center><u><h1><p class = brush>
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(17, 201, 165)">
            <b><font size="200" font color = "white">
 The Adventures of <i> La Familia</i> </h1></u></b></font></p></button>
<br></center>


<center>
<img src = "http://imageshack.com/a/img904/6122/0HWh88.png" border = "1" alt="Main" src="" width="500" height="350">

<div>
<a href="/PV2013">
    <img src = "http://imageshack.com/a/img661/2305/JWwtVi.png" border = "1" alt="Main" src="" width="250" height="175">
</a>
<a href = "/PC2014">
    <img src = "http://imageshack.com/a/img540/8863/NXvDdZ.png" border = "1" alt="Main" src="" width="250" height="175">
</a>
 <img src = "http://imageshack.com/a/img661/2460/y2edVX.png" border = "1" alt="Main" src="" width="200" height="200">

</div>


<center>
<br>
        <a href="/meetlafamilia">
            <button type="button" class="btn btn-lrg btn-block"
                style="background-color: rgb(17, 201, 165); "> <font color = white> MEET LA FAMILIA
        </font>
        </button>
        </a><br>

        <a href="/fundedby">
            <button type="button" class="btn btn-lrg btn-block"
                style="background-color: rgb(17, 201, 165); "> <font color = white> THE ADVENTURES OF LA FAMILIA BROUGHT TO YOU BY...
        </font>
        </button>
        </a><br><br>


    </center>

{% endblock %}