{% extends "base.html" %}

{% block content %}
    <font color = white><font size = "1500"><b>
    <style>
    p.brush {
        font-family: "Brush Script MT", cursive;

    h1 {
	font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
    }
       }
    </style>

    <p class = "brush"> Meet La Familia
         <a href="/">
            <button type="button" class="btn btn-lg btn-default" aria-label="Home">
                <span class="glyphicon glyphicon-home" aria-hidden="true" ></span>
            </button></a>

        <center><h1><p class = brush><font size = "10">
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <b><font color = "black">
 <i> Las Hijas Notorias</i> </h1></b></font></button>
</center>

</p>

    </a></button>
        <center>
        <div class="row">


        <div class="col-md-4">
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                MacKenzie </button></font><br></p>
            <img src="http://imageshack.com/a/img537/83/fN9NkB.png"
                 alt="Kenz" style="width:175px;height:225px"><br>
                <font size = "2"><button type="button" class="btn-active" style="background-color:rgb(29, 201, 200);">
                    <u>Nickname:<br></u> "Tits McGee" <br> <u>Favorite thing about La Familia:</u><br>  <br><u>Notorious for:<br></u>
                    Flying backward off a tube <br> & flashing the beach
         </button><br></font><br></div>

        <div class="col-md-4">

            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                Courtney </button></font><br></p>
            <img src="http://imageshack.com/a/img661/3852/pykYQT.png"
                 alt="Courtney" style="width:185px;height:225px"><br>
                <font size = "2"><button type="button" class="btn-active" style="background-color:rgb(29, 201, 200);">
                    <u>Nickname:<br></u> "Kissing queen" <br> <u>Favorite thing about La Familia:</u><br>  <br><u>Notorious for:<br></u>
        Butchering karaoke after 3 bottles of champagne</button><br></font><br></div>

         <div class="col-md-4">
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                Alexandra </button></font><br></p>
            <img src="http://imageshack.com/a/img905/3991/MAfdzU.png"
                 alt="Alex" style="width:185px;height:225px"><br>
                <font size = "2"><button type="button" class="btn-active" style="background-color:rgb(29, 201, 200);">
                    <u>Nickname:<br></u> "Beer Slanger" <br> <u>Favorite thing about La Familia:</u><br> "We have fun no matter what
                    <br>we are doing. And everyone is <br>adventurous and willing to try <br>new things and new experiences.
                    <br>And we all like to drink. <br><u>Notorious for:<br></u> Being the Majestic Elegance <br> beer drinking champion
         </button><br></font></div><br>

<center><h1><p class = brush><br>
        <br><button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <b><font size="medium" font color = "black">
 <i> Los Padres Notorios</i> </h1></b></font></p></button>
</center>


       <div class="col-md-4">
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                 Michael </button></font><br></p>
            <img src="http://imageshack.com/a/img661/2752/PZyBc7.png"
                 alt="Mike" style="width:185px;height:225px"><br>
                <font size = "2"><button type="button" class="btn-active" style="background-color:rgb(29, 201, 200);">
                    <u>Nickname:<br></u> "The <i>Real</i> Miguel" <br> <u>Favorite thing about La Familia:</u><br>  <br><u>Notorious for:<br></u>Dislocating
                    his toe on a waterslide
         </button></font><br></div>

       <div class="col-md-4">
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                Christina </button></font><br></p>
            <img src="http://imageshack.com/a/img673/9062/vFGR7I.png"
                 alt="Chris" style="width:185px;height:225px"><br>
                <font size = "2"><button type="button" class="btn-active" style="background-color:rgb(29, 201, 200);">
                    <u>Nickname:<br></u> "Mamajuana Victim" <br> <u>Favorite thing about La Familia:</u><br>  <br><u>Notorious for:<br></u> Boat Trip 2014
         </button><br></font<br></div>

       <div class="col-md-4">
            <p class = "brush"><font size="10"> <button type="button" class="btn-active active"
                                                           style="background-color: rgb(200, 111, 196); ">
                Kelli </button></font><br></p>
            <img src="http://imageshack.com/a/img907/1310/Vqqy4a.png"
                 alt="Kelli" style="width:175px;height:225px"><br><br><br>
                <font size = "2"><button type="button" class="btn-active" style="background-color:rgb(29, 201, 200);">
                    <u>Nickname:<br></u> "Paparazzi" <br> <u>Favorite thing about La Familia:</u><br>  <br><u>Notorious for:<br></u> Being
                    the one sober angel <br> of the family
         </button></font><br></div>

</div>

{% endblock %}