{% extends "base.html" %}

{% block content %}
    <font color = white><font size = "1500"><b>
    <style>
    p.brush {
        font-family: "Brush Script MT", cursive;
    }

    </style>

    <p class = "brush"> <u> <i>Puerto Vallarta, 2013</i></u></b>
         <a href="/">
            <button type="button" class="btn btn-lg btn-default" aria-label="Home">
                <span class="glyphicon glyphicon-home" aria-hidden="true" ></span>
            </button></a>

    <a href = "http://www.riu.com/en/Paises/mexico/vallarta-riviera-nayarit/hotel-riu-palace-pacifico/">
        <center><h1><p class = brush>
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <font size="medium" font color = "black">
 <font size = "1500"> The Resort: Riu Palace Pacifico </font><br></b>
    </button></p></h1></center></a>
</center>

        <center>
<img src = "http://212.227.20.215/uploads/media/RIU-PALCE_PACIFICO_MEXICO__1.jpg">
            <br>
        <div class="row">

        <div class="col-md-3">
            <img src="http://s3.amazonaws.com/m.saltado.com/sites/included/resort/401.jpg"
                 alt="Riu1" style="width:240px;height:210px">
        </div>

        <div class="col-md-3">
            <img src="http://www.riu.com/en/binaris/piscina-pool-jardin-garden_tcm55-31657.JPG"
                 alt="Riu2" style="width:240px;height:210px">
        </div>

         <div class="col-md-3">
            <img src="http://www.examiner.com/images/blog/wysiwyg/image/RiuPacificoPalacepoollounges.jpg"
                 alt="Riu3" style="width:240px;height:210px">
         </div>

         <div class="col-md-3">
            <img src="http://mexicotravelnet.com/puertovallarta/hotels/Riu_Palace_Pacifico_PV2.jpg"
                 alt="Riu4" style="width:240px;height:210px">
         </div>
        </div>

<center><h1><p class = brush>
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <font size="medium" font color = "black">
 <font size = "1500"> Aventuras </font><br></b>
                <a href = "http://www.vallarta-adventures.com/tours/extreme-zip-line-canopy-adventure">
                    Vallarta Adventures, Extreme Zipline Adventure</a> </h1></b></font>
    </p>
    </button>
</center>


<div class="row">

        <div class="col-md-3">
            <img src="http://imageshack.com/a/img911/7827/1EOd4L.png"
                 alt="1" style="width:230px;height:210px">
        </div>

        <div class="col-md-3">
            <img src="http://imageshack.com/a/img908/4613/ETIZ17.png"
                 alt="Riu2" style="width:230px;height:210px">
        </div>

         <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/343x365q50/r/540/cbmjAp.png"
                 alt="Riu3" style="width:230px;height:210px">
         </div>

         <div class="col-md-3">
            <img src="http://imageshack.com/a/img537/998/qDZlNI.png"
                 alt="Riu4" style="width:230px;height:210px">
         </div>
        </div>

<div class="row">

        <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/372x409q90/r/661/8BtrYE.png"
                 alt="1" style="width:230px;height:210px">
        </div>

        <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/400x409q50/r/633/PcONRs.png"
                 alt="Riu2" style="width:230px;height:210px">
        </div>

         <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/500x409q90/r/673/O0camy.png"
                 alt="Riu3" style="width:230px;height:210px">
         </div>

         <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/392x409q50/r/540/NTc1ZW.png"
                 alt="Riu4" style="width:230px;height:210px">
         </div>
        </div>

<div class="row">

        <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/401x409q90/r/909/jD3zNI.png"
                 alt="1" style="width:230px;height:210px">
        </div>

        <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/456x409q90/r/537/xSIHUZ.png"
                 alt="Riu2" style="width:230px;height:210px">
        </div>

         <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/443x409q50/r/673/zxaewq.png"
                 alt="Riu3" style="width:230px;height:210px">
         </div>

         <div class="col-md-3">
            <img src="https://imagizer.imageshack.us/v2/369x409q90/r/538/YtLYCm.png"
                 alt="Riu4" style="width:230px;height:210px">
         </div>
        </div>



</div>

{% endblock %}