{% extends "base.html" %}

{% block content %}
    <font color = white><font size = "1500"><b>
    <style>
    p.brush {
        font-family: "Brush Script MT", cursive;
    }

    </style>

    <p class = "brush"> Puerto Vallarta, 2013
         <a href="/">
            <button type="button" class="btn btn-lg btn-default" aria-label="Home">
                <span class="glyphicon glyphicon-home" aria-hidden="true" ></span>
            </button></a>

        <center><h1><p class = brush><font size = "10">
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <b><font color = "black">
 <i> The Resort: Riu Palace Pacifico</i> </h1></b></font></button>
</center>

</p>

    </a></button>
        <center>
<img src = "http://212.227.20.215/uploads/media/RIU-PALCE_PACIFICO_MEXICO__1.jpg">
            <br>
        <div class="row">

        <div class="col-md-3">
            <img src="http://s3.amazonaws.com/m.saltado.com/sites/included/resort/401.jpg"
                 alt="Riu1" style="width:240px;height:210px">
        </div>

        <div class="col-md-3">
            <img src="http://www.riu.com/en/binaris/piscina-pool-jardin-garden_tcm55-31657.JPG"
                 alt="Riu2" style="width:240px;height:210px">
        </div>

         <div class="col-md-3">
            <img src="http://www.examiner.com/images/blog/wysiwyg/image/RiuPacificoPalacepoollounges.jpg"
                 alt="Riu3" style="width:240px;height:210px">
         </div>

         <div class="col-md-3">
            <img src="http://mexicotravelnet.com/puertovallarta/hotels/Riu_Palace_Pacifico_PV2.jpg"
                 alt="Riu4" style="width:240px;height:210px">
         </div>
        </div>


<center><h1><p class = brush>
        <button type="button" class="btn btn-lg active btn-block"
                style = "background-color: rgb(193, 255, 234)">
            <b><font size="medium" font color = "black">
 <i> Excursiónes </i> </h1></b></font></p></button>
</center>


<div class="row">

        <div class="col-md-3">
            <img src="http://s3.amazonaws.com/m.saltado.com/sites/included/resort/401.jpg"
                 alt="Riu1" style="width:240px;height:210px">
        </div>

        <div class="col-md-3">
            <img src="http://www.riu.com/en/binaris/piscina-pool-jardin-garden_tcm55-31657.JPG"
                 alt="Riu2" style="width:240px;height:210px">
        </div>

         <div class="col-md-3">
            <img src="http://www.examiner.com/images/blog/wysiwyg/image/RiuPacificoPalacepoollounges.jpg"
                 alt="Riu3" style="width:240px;height:210px">
         </div>

         <div class="col-md-3">
            <img src="http://mexicotravelnet.com/puertovallarta/hotels/Riu_Palace_Pacifico_PV2.jpg"
                 alt="Riu4" style="width:240px;height:210px">
         </div>
        </div>



</div>

{% endblock %}